/* .ToDoBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
} */

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .colm{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
} */