.ServiceBody{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
}
.service-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /* background-color: red; */
}
.service-header-text{
    font-size: calc(20px + 2vmin);
    color: white;
}
.service-tag{
    display: flex;
    /* background-color:aqua; */
    height: 60vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.box-tag{
    background-color: #2e2d2d;
    width: 25%;
    height: 60%;
}