.show-frame-body{
    /* height: 100vh; */
    /* background-color: aqua;  */
    /* background-color: ; */
    padding: 2% 5% 2% 5%;
    background-color: black;
}
.show-frame-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /* background-color: red; */
}
.Show-frame-header-text{
    font-size: calc(20px + 2vmin);
    color: white;
}
.show-frame-tag{
    display: flex;
    justify-content: center;
    /* height: 70vh; */
    /* background-color: black; */
}
/* Grid Outter Tag */
.frame-img-grid{
    
    /* background-color: bisque; */
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid: 300px / auto auto auto; */
    /* grid-auto-rows: 300px; */
    /* grid-auto-rows: 40vh; */
    /* grid-template-rows: 300px 300px 300px; */
}
.frame-img-wrap{
    overflow: hidden;
    padding: 15% 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 5px;
    /* background: #8E2DE2;  
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
    background: linear-gradient(to right, #4A00E0, #8E2DE2); */

    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(57deg, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(57deg, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 2%;
}
.frame-img-wrap-inner{
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-img-wrap-inner img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;   
    transition: .5s ease-in-out;
    padding:4%;    
}
.frame-img-wrap:hover{
    background: -webkit-linear-gradient(57deg,#4776E6, #8E54E9);  
    background: linear-gradient(57deg,#4776E6, #8E54E9 ); 
}
.view-more-btn-tag{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}



@media screen and (min-width: 600px) {
    .frame-img-grid{
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 1200px) {
    .frame-img-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {
    .frame-img-grid{
        grid-template-columns: 1fr ;
    } 
}
